.git
.github
.claude
.gemini
node_modules
vendor
storage/framework/sessions/*
storage/framework/views/*
storage/framework/cache/*
storage/logs/*
public/build
public/storage
tests
phpunit.xml
.env
.env.ci
.env.testing
Dockerfile
docker-compose.yml
CLAUDE.md
GEMINI.md
README.md
LICENSE.md
maizzle
stubs
templates
