<script props>
  module.exports = {
    unsubscribe_url: props.unsubscribe_url
  }
</script>

<tr>
  <td align="center" class="text-center text-zinc-600 text-xs p-6">
    <p class="m-0 mb-2">
      Enviado por <a href="https://clinyx.com.br" class="text-zinc-600">Clinyx</a> - Sistema para gestão de clínicas e consultórios
    </p>

    <p class="m-0 cursor-default">
      <a href="https://www.linkedin.com/company/clinyx" target="_blank"
        class="text-zinc-600 [text-decoration:none] hover:![text-decoration:underline]">
        LinkedIn
      </a>
      &bull;
      <a href="https://www.facebook.com/clinyx" target="_blank"
        class="text-zinc-600 [text-decoration:none] hover:![text-decoration:underline]">
        Facebook
      </a>
      &bull;
      <a href="https://instagram.com/useclinyx" target="_blank"
        class="text-zinc-600 [text-decoration:none] hover:![text-decoration:underline]">
        Instagram
      </a>
      &bull;
      <a href="https://youtube.com/@useclinyx" target="_blank"
        class="text-zinc-600 [text-decoration:none] hover:![text-decoration:underline]">
        YouTube
      </a>
    </p>

    @if(isset($unsubscribe_url))
    <p class="m-0 mt-2">
      <a href="{{ unsubscribe_url }}" target="_blank"
        class="text-zinc-600 [text-decoration:none] hover:![text-decoration:underline]">
        Unsubscribe
      </a>
    </p>
    @endif
  </td>
</tr>