<x-main>
  <div class="bg-zinc-50 sm:px-4 font-sans">
    <table align="center">
      <tr>
        <td class="w-[552px] max-w-full">
          <x-header />
          <table class="w-full">
            <tr>
              <td class="p-12 sm:px-6 text-base text-zinc-800 bg-white rounded shadow-sm">
                <p class="leading-6 mt-0">
                  Olá @{{$user->name}},
                </p>

                <p class="leading-6">
                  Por favor, confirme seu endereço de e-mail clicando no botão abaixo:
                </p>

                <x-spacer height="24px" />

                <div class="text-center">
                  <x-button href="@{{ $url }}">
                    Confirmar Endereço de E-mail &rarr;
                  </x-button>
                </div>

                <x-spacer height="24px" />

                <p class="leading-6">
                  Se você não criou esta conta, pode ignorar este e-mail com segurança.
                </p>
                <p class="leading-6 mb-0">
                  Atenciosamente,
                  <br />
                  Equipe Clinyx
                </p>
              </td>
            </tr>
          </table>
          <x-footer />
        </td>
      </tr>
    </table>
  </div>
</x-main>